# Python Basics Assignment

This notebook contains 20 basic Python questions.  
Each question carries **1 mark**. Write your answer in the cell provided.

### Question 1
Write a function that returns the square of a number.

In [ ]:
def square(number):
    return number * number
print(square(6))
def your_function_1():
    pass

36

### Question 2
Write a function that checks whether a number is even.

In [ ]:
def is_even(number):
    return number % 2 == 0
print(is_even(6))
def your_function_2():
    pass

True

### Question 3
Write a function to return the maximum of two numbers.

In [ ]:
def max(number1,number2):
  if number1 > number2:
    return number1
  else:
    return number2
print(max(5,6))
def your_function_3():
    pass

6

### Question 4
Write a function to return the factorial of a number.

In [ ]:
def factorial(number):
  if number == 1:
    return 1
  else:
    return number * factorial(number - 1)
print(factorial(5))
def your_function_4():
    pass

120

### Question 5
Write a function to reverse a string.

In [ ]:
def reverse(string):
  return string[::-1]
print(reverse("hello"))
def your_function_5():
    pass

olleh

### Question 6
Write a function to check if a string is a palindrome.

In [ ]:
def is_palindrome(string):
  return string == string[::-1]
print(is_palindrome("racecar"))
def your_function_6():
    pass

True

### Question 7
Write a function to count vowels in a string.

In [ ]:
def count_vowels(string):
  vowels = "aeiouAEIOU"
  count = 0
  for char in string:
    if char in vowels:
      count += 1
  return count
print(count_vowels("hello"))
def your_function_7():
    pass

2

### Question 8
Write a function that returns the sum of a list.

In [ ]:
def sum_list(list):
  sum = 0
  for num in list:
    sum += num
  return sum
print(sum_list([1,2,3,4,5]))
def your_function_8():
    pass

15

### Question 9
Write a function to find the smallest number in a list.

In [ ]:
def find_smallest(numbers):
    return min(numbers)
numbers = [10, 5, 3, 8, 1]
print(find_smallest(numbers))
def your_function_9():
    pass

1

### Question 10
Write a function to remove duplicates from a list.

In [ ]:
def remove_duplicates(lst):
    return list(set(lst))
numbers = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(numbers))
def your_function_10():
    pass

[1, 2, 3, 4, 5]

### Question 11
Write a function to sort a list in ascending order.

In [1]:
def sort_ascending(lst):
    return sorted(lst)
numbers = [5, 2, 9, 1, 7]
print(sort_ascending(numbers))
def your_function_11():
    pass

[1, 2, 5, 7, 9]

### Question 12
Write a function that returns the length of a string.

In [3]:
def string_length(text):
    return len(text)
print(string_length("hello"))
def your_function_12():
    pass

5

### Question 13
Write a function to count words in a sentence.

In [4]:
def count_words(sentence):
    return len(sentence.split())
print(count_words("hello world"))
def your_function_13():
    pass

2

### Question 14
Write a function to convert Celsius to Fahrenheit.

In [5]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32
print(celsius_to_fahrenheit(0))
def your_function_14():
    pass

32.0

### Question 15
Write a function to check if a number is prime.

In [8]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True
print(is_prime(7))
def your_function_15():
    pass

True

### Question 16
Write a function to return all even numbers in a list.

In [12]:
def get_even_numbers(lst):
    return [num for num in lst if num % 2 == 0]
numbers = [1, 2, 3, 4, 5, 6]
print(get_even_numbers(numbers))
def your_function_16():
    pass

[2, 4, 6]

### Question 17
Write a function to return the nth Fibonacci number.

In [15]:
def fibonacci(n):
    if n <= 0:
        return "Invalid input"
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    a, b = 0, 1
    for _ in range(2, n):
        a, b = b, a + b
    return b
print(fibonacci(1))
def your_function_17():
    pass

0

### Question 18
Write a function to calculate the average of a list.

In [17]:
def calculate_average(lst):
    return sum(lst) / len(lst)
numbers = [10, 20, 30, 40]
print(calculate_average(numbers))
def your_function_18():
    pass

25.0

### Question 19
Write a function that returns a dictionary of character counts.

In [18]:
def character_count(string):
    count = {}
    for char in string:
        if char in count:
            count[char] += 1
        else:
            count[char] = 1
    return count
print(character_count("hello"))
def your_function_19():
    pass

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### Question 20
Write a function that returns True if all list elements are unique.

In [19]:
def all_unique(lst):
    return len(lst) == len(set(lst))
numbers = [1, 2, 3, 4, 5]
print(all_unique(numbers))
def your_function_20():
    pass

True